extends layout 

block content
    h1 Sign Up
    .container 
        form(action="/users/signup" method="post")
            div.form-group
                label(for="name") Name
                input(type="text" ,class="form-control" ,id="name" ,name="name" ,placeholder="Enter your Name" ,required)
            br
            div.form-group
                label(for="description") Email
                input(type="email" ,class="form-control" ,id="email" ,name="email" ,placeholder="Enter your Email",required)
            br
            div.form-group
                label(for="password") Password
                input(type="password" ,class="form-control" ,id="pass" ,name="password" ,placeholder="Enter your Password",required)
            br
            div.form-group
                label(for="gender") Gender
                input(type="text" ,class="form-control" ,id="gender" ,name="gender" ,placeholder="Your Gender?",required)
            br
            button.btn.btn-success(type="submit") Sign Up
